/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



body{
}
.gradient{
    height: 100vh;
    width: 100%;
    background: rgb(0,69,239);
    background: linear-gradient(102deg, rgba(0,69,239,1) 0%, rgba(3,3,203,1) 14%, rgba(0,67,139,1) 24%, rgba(6,168,49,1) 58%, rgba(3,190,166,1) 78%, rgba(0,255,235,1) 100%);
    animation: gradient 10s infinite linear;
    background-size: 250%;

}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
/* Додаємо базові стилі для контейнера, щоб він був по центру екрана */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Стилізуємо заголовок */
.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: white; /* Або інший колір, який вам подобається */
}

/* Додаємо стилі для таймера */
.timer {
    display: flex;
    gap: 10px; /* Відступ між елементами таймера */
}

/* Стилізуємо кожен блок часу таймера */
.timer span {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Прозорий білий фон */
    border-radius: 5px; /* Закруглені кути */
    color: white; /* Колір тексту */
    font-size: 20px;
    font-weight: bold;
}

/* Стилізуємо побажання */
.wish {
    margin-top: 20px;
    color: white;
    font-size: 20px;
}
.wish span{
    color: red;
}